/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Sora", sans-serif;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "Sora ExtraLight";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(../public/fonts/Sora-ExtraLight.ttf) format("woff2");
    }

    @font-face {
        font-family: "Sora Light";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(../public/fonts/Sora-Light.ttf) format("woff2");
    }

    @font-face {
        font-family: "Sora Medium";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../public/fonts/Sora-Medium.ttf) format("woff2");
    }

    @font-face {
        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../public/fonts/Sora-Regular.ttf) format("woff2");
    }

    @font-face {
        font-family: "Sora SemiBold";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../public/fonts/Sora-SemiBold.ttf) format("woff2");
    }

    @font-face {
        font-family: "Sora Bold";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../public/fonts/Sora-Bold.ttf) format("woff2");
    }



}

@layer utilities {
    .text-on-1-line {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
    }

    .categorySelected {
        transition: all .3s ease-in;
        background-color: #FEBD2E;
        color: #0E1325 !important;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, and Opera */
    }

    .dropdown {
        position: relative;

        .dropdown-content {
            z-index: 50;
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            right: 0;

            border-radius: 8px;
            border: 1px solid var(--stroke-light, #dee2e6);
            background: #E5E7EB;
            /* Shadow / Small */
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08),
                0px 0px 2px 0px rgba(0, 0, 0, 0.12);
            color: #0E1325;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            /* 25.2px */
            letter-spacing: 0.28px;
            display: none !important;

            &.show {
                display: block !important;
            }

            .dropdown-option {
                padding: 8px 16px;
                cursor: pointer;
                border-bottom: 1px solid #0E1325;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

    }
}